.nothing_image{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem auto;
	width: 400px;
}

@media (max-width: 414px) {
	.nothing_image{
        width: 300px;
    }
}
@media (max-width: 281px) {
	.nothing_image{
        width: 200px;
    }
}