.container {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
    // width: 100%;
    // // gap: 1rem;
}

.weather {
    position: absolute;
    top: 1rem;
    left: 1rem;

    @media (max-width: 768px) {
        display: none !important;
    }
}