* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #2b2a2a;
  color: #fff;
}
/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

